openapi: 3.1.0
info:
  title: adinize server events API
  version: 1.0.0
  description: |
    Send conversions from your backend. adinize stores each event once per
    pixel and event_id, attributes it to the ad click, and forwards it to the
    Meta Conversions API, the TikTok Events API and Google Ads.

    Create a secret key on your pixel's page in adinize. Keep it on your
    server; never put it in a web page.
servers:
  - url: https://adinize.ai
security:
  - secretKey: []
paths:
  /api/server/v1/events:
    post:
      operationId: sendEvents
      summary: Send a batch of 1 to 100 events
      description: |
        Each event gets a result, in input order. Retrying with the same
        event_id is always safe: an event_id the pixel already holds reports
        `duplicate` and stores nothing.

        An event reaches a platform only if its event_name is enabled for
        that platform on the pixel's Platforms tab.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventBatch"
            examples:
              website:
                summary: A purchase on a website
                value:
                  events:
                    - event_id: order_10482
                      event_name: Purchase
                      event_time: 1790500000
                      visitor_id: mb.1790499000000.k3j9x2a1b
                      page_url: https://shop.example.com/checkout/thank-you
                      user_data:
                        email_hash: 259b65833bbadfd58ee66dde290489a6e51518339de4886d2331027751f0913a
                        client_ip_address: 203.0.113.7
                        client_user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X)"
                      event_data:
                        value: 129.5
                        currency: EGP
                        order_id: "10482"
              app:
                summary: A purchase in an iOS app
                value:
                  events:
                    - event_id: fund_42
                      event_name: Purchase
                      event_time: 1790500000
                      action_source: app
                      app_data:
                        os: ios
                        os_version: "17.4"
                        advertiser_tracking_enabled: true
                        bundle_id: com.bokra.app
                        app_version: 3.2.0
                      user_data:
                        email_hash: 259b65833bbadfd58ee66dde290489a6e51518339de4886d2331027751f0913a
                        madid: 6D92078A-8246-4BA4-AE5B-76104861E7DC
                        anon_id: inst_9f2
                      event_data:
                        value: 500
                        currency: EGP
      responses:
        "200":
          description: The batch parsed. Read each result for its status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResults"
        "400":
          description: |
            INVALID_REQUEST. The body has no events list, or it holds 0 or
            more than 100 events. A body that is not JSON also gets 400; send
            `Accept: application/json` to get this error shape for it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: The secret key is missing, unknown or revoked (INVALID_KEY).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: The key's pixel is paused or archived (PIXEL_INACTIVE).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: |
            RATE_LIMITED. Either this request would take the pixel past 6,000
            events in a minute (the whole request is refused and nothing is
            stored), or the request carries a wrong key and its IP address
            already sent 60 wrong keys this minute. A valid key is never
            refused for its IP. Wait for Retry-After seconds, then retry the
            same events.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    secretKey:
      type: http
      scheme: bearer
      description: A pixel secret key, adzsk_...
  schemas:
    EventBatch:
      type: object
      required: [events]
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/Event"
    Event:
      type: object
      required: [event_id, event_name, event_time]
      properties:
        event_id:
          type: string
          minLength: 1
          maxLength: 128
          description: Your ID for this event, such as the order number. adinize stores one event per event_id and pixel.
        event_name:
          type: string
          minLength: 1
          maxLength: 50
          description: |
            A standard name (the examples) maps to each platform's own name:
            TikTok gets Purchase as CompletePayment and Lead as SubmitForm.
            Any other name is a custom event, sent to Meta and TikTok as is.
            Your pixel's Forwarding settings choose which names each platform
            receives.
          examples:
            - PageView
            - ViewContent
            - ViewCategory
            - ViewCart
            - Search
            - AddToCart
            - AddToWishlist
            - InitiateCheckout
            - AddPaymentInfo
            - Purchase
            - Lead
            - CompleteRegistration
            - Contact
            - Subscribe
            - StartTrial
            - Schedule
            - SubmitApplication
            - CustomizeProduct
            - FindLocation
            - Donate
        platform_event_names:
          type: object
          additionalProperties: false
          description: |
            The name to send one platform instead of adinize's mapping, such
            as `{"tiktok": "Contact"}` for a Lead. The pixel's Forwarding
            settings still match on event_name. Meta and TikTok drop a browser
            and a server event as duplicates only when both carry the same
            name and event_id, so a renamed event no longer matches the
            browser pixel's event with that event_id. Revenue follows
            event_name: only a Purchase carries its value.
          properties:
            meta:
              type: string
              minLength: 1
              maxLength: 50
            tiktok:
              type: string
              minLength: 1
              maxLength: 50
        event_time:
          oneOf:
            - type: integer
              description: Unix time in seconds, not milliseconds.
            - type: string
              format: date-time
          description: When the event happened. At most 7 days old and at most 5 minutes ahead.
        visitor_id:
          type: string
          description: The value of the _mb_vid cookie the browser pixel sets. It joins the event to the ad click.
        page_url:
          type: string
        user_data:
          $ref: "#/components/schemas/UserData"
        action_source:
          type: string
          enum: [website, app]
          default: website
          description: |
            Where the event happened. Send `app` for an event in your mobile
            app, with `app_data`. Meta receives it as an app event. TikTok and
            Google Ads do not receive app events yet: adinize skips them for
            those two and records why.
        app_data:
          $ref: "#/components/schemas/AppData"
        event_data:
          type: object
          additionalProperties: true
          description: At most 32 KB as JSON and at most 5 levels deep.
          properties:
            value:
              type: number
            currency:
              type: string
              description: ISO 4217 code
            order_id:
              type: string
            content_ids:
              type: array
              items:
                type: string
    AppData:
      type: object
      additionalProperties: false
      required: [os, os_version, advertiser_tracking_enabled]
      description: |
        Required when action_source is `app`, and refused on any other event.
        Meta needs `os`, `os_version` and `advertiser_tracking_enabled` on
        every app event. Each string is 1 to 128 characters (Unicode code
        points) and not blank.
      properties:
        os:
          type: string
          enum: [ios, android]
        os_version:
          type: string
          minLength: 1
          maxLength: 128
          example: "17.4"
        advertiser_tracking_enabled:
          type: boolean
          description: |
            Whether the user allows tracking: on iOS 14.5 and later, true
            only when App Tracking Transparency is authorized. When false,
            or when `att_status` is DENIED, RESTRICTED or NOT_DETERMINED,
            adinize drops `user_data.madid` and never stores it. It also
            drops the all-zero IDFA.
        application_tracking_enabled:
          type: boolean
          description: The user's own app-level ad tracking choice.
        att_status:
          type: string
          enum: [AUTHORIZED, DENIED, NOT_DETERMINED, RESTRICTED, NOT_APPLICABLE]
        bundle_id:
          type: string
          minLength: 1
          maxLength: 128
          description: The app's bundle id (iOS) or package name (Android).
          example: com.bokra.app
        app_version:
          type: string
          minLength: 1
          maxLength: 128
          example: 3.2.0
        app_store_id:
          type: string
          minLength: 1
          maxLength: 128
          description: The App Store id on iOS, the package name on Android.
        device_model:
          type: string
          minLength: 1
          maxLength: 128
          example: iPhone15,2
        locale:
          type: string
          minLength: 1
          maxLength: 128
          example: ar_EG
        timezone:
          type: string
          minLength: 1
          maxLength: 128
          example: Africa/Cairo
        carrier:
          type: string
          minLength: 1
          maxLength: 128
    UserData:
      type: object
      description: |
        Send hashes, never raw email or phone: an event carrying `email` or
        `phone` is rejected with RAW_PII. Each *_hash is the SHA-256 of the
        trimmed, lowercased value, as 64 lowercase hex characters; the two
        phone hashes hash the E.164 number instead. Every value is a string,
        except `consent`. `madid`, `idfv` and `anon_id` are refused on an
        event whose action_source is not `app`.
      properties:
        email_hash:
          $ref: "#/components/schemas/Sha256"
        phone_hash:
          allOf:
            - $ref: "#/components/schemas/Sha256"
          description: |
            SHA-256 of the E.164 phone number with its `+`.
            `+1 (650) 555-1212` hashes as `+16505551212`. Google Ads and
            TikTok match this form.
        phone_digits_hash:
          allOf:
            - $ref: "#/components/schemas/Sha256"
          description: |
            SHA-256 of the E.164 phone number without its `+`: country code
            and digits only. `+1 (650) 555-1212` hashes as `16505551212`,
            giving
            `e323ec626319ca94ee8bff2e4c87cf613be6ea19919ed1364124e16807ab3176`.
            Meta matches phones only in this form. Send it beside
            `phone_hash`, which hashes the same number with its `+`.
        first_name_hash:
          $ref: "#/components/schemas/Sha256"
        last_name_hash:
          $ref: "#/components/schemas/Sha256"
        street_address_hash:
          $ref: "#/components/schemas/Sha256"
        external_id:
          type: string
        client_ip_address:
          type: string
          description: The shopper's IP address, not your server's.
        client_user_agent:
          type: string
          description: The shopper's browser user agent, not your server's.
        fbp:
          type: string
        fbc:
          type: string
        gclid:
          type: string
        ttp:
          type: string
          description: |
            The value of TikTok's `_ttp` cookie, which the TikTok pixel sets
            on your domain. TikTok matches the event to the visitor with it.
        ttclid:
          type: string
          description: |
            The `_ttp` cookie, the same as `ttp`; older clients send it here.
            When an event carries both, a non-empty `ttp` wins. It is not
            TikTok's click id.
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country_code:
          type: string
        madid:
          $ref: "#/components/schemas/DeviceId"
          description: |
            The mobile advertising id: IDFA on iOS, GAID on Android. Send it
            raw, not hashed. App events only, and dropped when
            `app_data.advertiser_tracking_enabled` is false.
        idfv:
          $ref: "#/components/schemas/DeviceId"
          description: The iOS identifier for vendor, raw. App events only.
        anon_id:
          $ref: "#/components/schemas/DeviceId"
          description: |
            Your app's own install id, raw. App events only. Meta matches
            app events with it.
        consent:
          type: object
          properties:
            analytics:
              type: boolean
            marketing:
              type: boolean
            functional:
              type: boolean
    DeviceId:
      type: string
      minLength: 1
      maxLength: 128
    Sha256:
      type: string
      pattern: "^[0-9a-f]{64}$"
    BatchResults:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/EventResult"
    EventResult:
      type: object
      required: [event_id, status]
      properties:
        event_id:
          type: [string, "null"]
        status:
          type: string
          enum: [accepted, duplicate, rejected]
        errors:
          type: array
          description: Present when status is rejected.
          items:
            $ref: "#/components/schemas/EventError"
    EventError:
      type: object
      required: [field, code, message]
      properties:
        field:
          type: string
          example: user_data.email
        code:
          type: string
          enum: [REQUIRED, INVALID, TOO_OLD, IN_FUTURE, INVALID_HASH, RAW_PII, TOO_LARGE, TOO_DEEP]
        message:
          type: string
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [INVALID_REQUEST, INVALID_KEY, PIXEL_INACTIVE, RATE_LIMITED]
            message:
              type: string
            retry_after:
              type: integer
